<main class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="py-5">
        <table class="table">
          <tbody>
            <tr>
              <th>
                <div class="img">
                  <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image.png", class: "user_profile_image" %>
                </div>
              </th>
          	  <th>name</th>
          	  <th><%= @user.name %></th>
            </tr>
            <tr>
          	  <th>introduction</th>
          	  <th><%= @user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <%= link_to edit_user_path(current_user), class: 'btn btn-light' do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    </div>

    <%if @fashion.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@fashion.errors.count, "error") %> prohibited this fashion from being saved:</h2>
          <ul>
            <% @fashion.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
    </div>
  </div>
</main>