<main class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="py-5">
        <table>
          <tbody>
            <tr>
              <td class="py-5">name</td>
              <td><%= @contact.name %></td>
            </tr>
            <tr>
              <td class="py-5">message</td>
              <td style="white-space: pre-wrap;"><%= @contact.message %></td>
            </tr>
          </tbody>
        </table>
        <div class="py-5">
          <%= form_for(@contact) do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :subject %>
            <%= f.hidden_field :message %>
            <div><%= f.submit 'submit' %></div>
          <% end %>
        </div>
        <div class="py-5">
          <%= form_for @contact, url: back_path do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :subject %>
            <%= f.hidden_field :message %>
            <div><%= f.submit 'back' %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>